.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 340px;
  min-height: 75px;
  padding: 0 40px;

  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-hover;
  }
}

.button__text {
  position: relative;

  width: 100%;
  padding-right: 15px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-white;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 14px;
    height: 14px;

    background-image: url("../img/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 14px;
  }
}

.button__icon-arrow {
  fill: transparent;
}

@media (max-width: $tablet-width) {
 .button {
  width: 250px;
  min-height: 50px;
  margin: 0 auto;

  &:hover {
    background-color: $color-accent;
  }

  &:active {
    background-color: $color-accent-hover;
  }
 }

 .button__text {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 2px;

  &:after {
    background-image: url("../img/icon-arrow-down-mobile.svg");
  }
 }
}

@media (max-width: $mobile-width) {
  .button {
    width: 288px;
  }
}
