@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin center-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin max-width {
  width: 100vw;
  height: 100vw;
  min-width: 1%;
  max-width: 100%;
}
