$color-accent: #FE7865;
$color-accent-hover: #F17D4B;
$color-dark: #141517;
$color-black: #141517;
$color-lighten: #FBF8F8;
$color-white: #ffffff;
// $color-grey: #DADADA; пока попался в холостую

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
